body {
    background-image: url("background.png");
    background-color: #fffdf3;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 75px;
                                        
   }

   .logo {
    width: 200px;
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
   }

   table, th, td {     
    margin-left: auto;  
    margin-right: auto;  
    border: none;    
    text-align: center;  
    font-size: 18px; 
    }

    table {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    h1 {
        margin-top: 20px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        /*margin-left: 50px;*/
    }

    th {
        width: 65px;
        padding-top: 25px;
    }

    .product {
        width: 225px;
        text-align: center;
    }

    .sml {
        font-size: 14px;
    }

    .flavours {
        margin: 0;
        padding: 0;
        text-align: center;
        font-size: 12px;
    }

    .extra {
        width: 215px;
        font-size: 16px;
        padding: 0;
    }

    .extras {
        width: 125px;
        font-size: 16px;
        padding: 0;
    }

    .priceextra {
        font-size: 16px;
        width: 40px;
        padding: 3px;
    }

    .fproduct {
        width: 290px;
        padding: 0;
    }

    .fproductv {
        width: 290px;
        font-size: 10px;
        padding-top: 0;
        padding-bottom: 3px;
    }

    .thfoodp {
        padding: 0;
    }

    @media only screen and (max-width: 420px) {
        .product {
            width: 150px;
        }  

        .logo {
            width: 150px;
        }
        
        table, th, td { 
            font-size: 14px;
        }

        th {
            width: 45px;
        }

        .sml {
            font-size: 11px;
        }

        .flavours {
            font-size: 10px;
        }

        h1 {
            font-size: 24px;
        }

        .extra {
            width: 140px;
            font-size: 10px;
        }
    
        .extras {
            width: 75px;
            font-size: 10px;
        }
    
        .priceextra {
            font-size: 9px;
            width: 25px;
        }
    }
