@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Roboto:ital,wght@0,300;0,700;1,400&display=swap');

*, *::after, *::before {
    block-size: border-box;
}

body {
    background-image: linear-gradient(to right, #ebe6d9, #FFFDF3, #FFFDF3, #FFFDF3, #FFFDF3, #FFFDF3, #ebe6d9);
    /*background-color: #EBE6D9;*/
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.container {
    background-image: url("background.png");
    margin: auto;
    width: 80%;
    max-width: 720px;
}

.logo {
    width: 200px;
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.header {
    text-align: center;

}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.5em;
    font-weight: 700;
}

.row div {
    text-align: center;
    width: 14%;
    padding: .125em;
}

.row div:first-child {
    width: 58%;
}

.size {
    font-size: .75em;
}

.container p {
    margin: 0;
    padding: .125em;
    text-align: center;
    font-size: 1em;
}

.kids {
    font-family: 'Caveat', cursive;
    font-size: 2.75em;
}


@media only screen and (max-width: 620px) {
    .container {
        width: 98%;
    }
    .row {
        font-size: 1.125em;
    } 
    .container p {
        font-size: .875em;
    }
    .size {
        font-size: .685em;
    }
}