@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Roboto:wght@300;400;500&display=swap');

*, *::after *::before {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 95%;
    max-width: 1240px;
    margin: auto;
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: repeat(auto-fit, minmax(18rem,1fr));
}

body h1 {
    font-weight: 500;
    font-size: 4.5em;
    margin: 5px auto;
    font-family: 'Belleza', sans-serif;
    text-align: center;
}

.section {
    align-items: center;
    font-size: 1.125em;
    /*border: 2px solid white;*/
}

.section .food{
    margin: auto;
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin-bottom: 30px;
    align-items: center;
}

.section .drinks{
    margin: auto;
    display: grid;
    grid-template-columns: 6fr 1fr 1fr 1fr;
    margin-bottom: 30px;
    align-items: center;
}

.section h2 {
    font-weight: 400;
    font-size: 2em;
    margin: .25em auto;
    text-align: center;
}

.drinks div {
    text-align: center;
}

.food div {
    text-align: left;
}

.drinks p {
    text-align: center;
    font-size: .625em;
}

.food p {
    margin: 0;
    margin-bottom: 5px;
    font-size: .625em;
}



